<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{$title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="__STATIC__/img/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="__CSS__/bootstrap.css">
        <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
        <link rel="stylesheet" href="__CSS__/owl.carousel.css">
        <link rel="stylesheet" href="__CSS__/owl.theme.css">
        <link rel="stylesheet" href="__CSS__/normalize.css">
        <link rel="stylesheet" href="__CSS__/main.css">
        <link rel="stylesheet" href="__CSS__/responsive.css">
        <script src="__JS__/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

		<header>
            <div class="top-bar gray-3d-bg">
                <div class="container">
                    <div class="row">
					<!--
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="top-contact-info">
                                <span class="work-sans fz-13 lh-50"><img src="__STATIC__/img/phone.png" alt=""> + 124 45 78 678 </span>
                                <span class="work-sans fz-13 lh-50"><img src="__STATIC__/img/mail.png" alt=""> Support@mail.com</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 social-login">
                            <div class="top-social display-ib">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <div class="top-login display-ib lh-50">
                                <img src="__STATIC__/img/login.png" alt="">
                                <span class="white">
                                    <a href="#">Login</a> /
                                    <a href="#"> Register</a>
                                </span>
                            </div>
							-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-nav-area">
                <div class="container">
					
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="man-nav">
                                <nav class="navbar navbar-default no-margin">
                                      <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                          <span class="sr-only">Toggle navigation</span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                        </button>
                                      </div>
                                      <div id="navbar" class="navbar-collapse collapse no-margin no-padding">
                                        <div class="col-md-7 col-sm-7">
                                            <ul class="nav navbar-nav">
                                              <li class="active"><a href="index.html">Home</a></li>
                                              <li><a href="about.html">About</a></li>
                                              <li><a class="" href="gallery.html">Galley </a></li>
                                              <li><a class="" href="match-fixtures.html">Fixtures</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-5 col-sm-5">
                                            <ul class="nav navbar-nav pl-50">
                                                <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog  <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                  <li><a href="blog.html">Blog</a></li>
                                                  <li><a href="blog-single.html">Blog Single</a></li>
                                                </ul>
                                              </li>
                                                <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages  <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="match-report.html">Match Report</a></li>
                                                    <li><a href="404.html">404 Page</a></li>
                                                </ul>
                                              </li>
                                              <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop  <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                  <li><a href="shop.html">Shop</a></li>
                                                  <li><a href="shop-single.html">Shop Single</a></li>
                                                  <li><a href="my-cart.html">My Cart</a></li>
                                                  <li><a href="checkout.html">Checkout</a></li>
                                                </ul>
                                              </li>
                                              <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </div>
                                      </div><!--/.nav-collapse -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>